html {
    background-color: #0b1224;
    background-image: url('https://i.imgur.com/DLpH8OK.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: 80;
    background-repeat: repeat;
}

.title {
    color: #d3d9e3;
}

.subtitle {
    color: #d3d9e38f;
}