{% extends "layout.html.j2" %}

{% block title %}Home{% endblock %}

{% block header %}
<div class="hero is-halfheight is-dark">
  <div class="hero-body is-align-items-end">
    <div class="content">
      <p class="subtitle is-size-4">Home</p>
      <p class="title is-size-1 my-5">Liste des média</p>
      <p class="is-size-5 has-text-weight-bold">
        <i class="fa-solid fa-circle-arrow-right"></i>
        Cliquez sur un média pour le visualiser.
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="section has-background-light">
  <div id="IndexContainer"></div>
</div>

<script src="static/pages/index.js" type="text/babel" defer></script>
{% endblock %}