<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% block head %}
  <link rel="stylesheet" href="/static/style.css" />
  <title>{% block title %}{% endblock %} - Gallery by Jokebox90</title>
  {% endblock %}

  <link href="/static/fontawesome/free/web/css/all.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet" />

  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin></script>
</head>

<body>
  <div class="container">
    <header>{% block header %}{% endblock %}</header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      {% block footer %}
      {% endblock %}
      <div class="section has-background-black has-text-light">
        &copy; Copyright 2008 by
        <a href="http://domain.invalid/">you</a>.
      </div>
    </footer>
  </div>
</body>

</html>